<p id="notice"><%= notice %></p>

<h1>habits</h1>

<table>
</table>

<%= month_calendar events: @habits do |date, habits| %>
  <%= date.day %>
  <% @habits.each do |habit| %>
    <div>
      <%= link_to habit.name, habit %>
    </div>
  <% end %>
<% end %>
