/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "layouts";

@import "forms";
@import "devise";

@import "scaffolds";
@import "habits";
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

.sidebar {
  position: relative; 
  min-height: 100vh;
  height: 100%;
  width: 220px;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  @media screen and (max-width: 600px) {
    display: none;
    position: absolute;
    &.show {
      display: block;
    }
  }
}

.sidebar_header {
  text-align: left;
  font-size: 1.05rem;
  line-height: 1.25rem;
  margin: 0 1rem 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 165px;
  position: relative;
}

.sidebar_tar{
  position: relative; 
  top: 25px;
  right: 8px;
}

.sidebar_tar_child{
  position: relative;
  left: 70px;
}

.right{
  position: absolute;
  right: 0;
}

.side-index-area {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100% - 80px);
  max-height: calc(100% - 80px);
  padding-top: 15px;
}

.card-body{
  position: relative;
}

.tag-lay{
    display: table;
    text-align: center;
    border: 1px solid #333333;
    border-radius: 5px;
}

.calendar-posi{
  position: absolute; 
  padding-left: 220px;
  z-index: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  float: left;
  overflow-y: auto;
  @media screen and (max-width: 600px) {
    display: none;
    position: absolute;
    &.show {
      display: block;
    }
  }
}

.blue{
  color: blue;
}

.habit-card{
  box-shadow: 0;
}

.habit-border{
  width: 60px;
  border-width: 3px;
  border-bottom-style: solid;
}

.cal-border{
  width: 0px;
  border-width: 3px;
  border-bottom-style: solid;
}

.table td{
  padding: 0px;
}
