<div class="sidebar">
  <i class="sidebar_header">習慣</i>
  <%= link_to new_habit_path, title: "New", class: "btn", remote: true do %>
    <i class="fas fa-plus"></i>
  <% end %>
  <i class="sidebar_tar">目標（分）</i>
  <div class="side-index-area" id="habitsIndex">
    <% habits.each do |habit| %>
      <%= render "habits/habit", habit: habit %>
    <% end %>
  </div>
  <i class="sidebar_header">タグ</i>
  <%= link_to new_tag_path, title: "New", class: "btn", remote: true do %>
    <i class="fas fa-plus"></i>
  <% end %>
  <div class="side-index-area" id="tagsIndex">
    <% tags.each do |tag| %>
      <%= render "tags/tag", tag: tag %>
    <% end %>
  </div>
</div>
